<h2 class="page-header"> <%= link_to_unless_current post.title, post %>
    <small>
        <% if post.created_at != post.updated_at %>
          <%= "Edited " + time_ago_in_words(post.updated_at) %>
        <% else %>
          <%= "Posted " + time_ago_in_words(post.created_at) %>
        <% end %>
    ago <% if post.comments.count >= 1 %>
           | <%= post.comments.count %> Comment<%= post.comments.count > 1 ? 's' : '' %>
        <% end %>
    | <%= post.reading_time %> Minute read
    </small></h2>
<%= simple_format post.content %>
