<p class=" label label-success" id="notice"><%= notice %></p>

<%= render :partial => @post %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h1>Comments</h1>
<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<%= bootstrap_form_for [@post, Comment.new] do |f| %>
  <p>
    <h3><%= f.label :body, "New comment" %></h3>
    <%= f.text_area :body %>
  </p>
  <p class="field"><%= f.submit "Add comment" %></p>
<% end %>
